[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
"psycopg2" = "*"
python-dotenv = "*"
graphene-django = "*"
django-modern-rpc = "*"
json-rpc = "*"
jsonrpcclient = {extras = ["requests"], version = "*"}
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.7"
